@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
     <div class="mt-4 p-5 bg-primary text-white rounded">
         <p1>This section will feature announcement! Latest updates including about major awards!</p1><br/>
        <p2>Welcome to our site! It is comming very very soon!!!! We will make a huge announcement in the near future!!!</p2>
    </div>
</div>




