@model IEnumerable<Soccer.MVC.Models.Player_Team>
@{
    ViewData["Title"] = "Index";
}

<h1>Team Profile</h1>
<p>
    <thead>
        <tr>
            <th>
            <th>
                    @Html.DisplayNameFor(model => model.Player_ID)
            </th>
            <th>


                    @Html.DisplayNameFor(model => model.Team_ID)
            </th>
            <th></th>
            </th>
        </tr>
    </thead>
    
</p>


@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
             <p class="card-text">
                @Html.DisplayFor(modelItem => item.Player_ID)<br />
                </p>
            <a asp-action="Details" asp-route-id="@item.Team_ID" class="btn btn-outline-primary float-end">View Award Details</a>
        </div>
    </div>
}




